- id: stats1
  desc: Computes simple statistics (1D data)
  code:
  - boot_agents_stats.EstStats
  - {}

- id: stats2
  desc: Computes simple statistics (2D data)
  code:
  - boot_agents_stats.EstStats2D
  - {}

# - id: bdse1
#   desc: "BDSE agent"
#   code:
#   - boot_agents_bdse.BDSEAgent
#   - change_fraction: 0.5
#     explorer: expsw1
#     rcond: 0.000000001
#     servo:
#       strategy: S1n
#       gain: 0.1

# The simple explorer used in most cases
- id: expsw1
  desc: Switches randomly between commands with an exponential switching time.
  code:
      - boot_agents.ExpSwitcher
      - beta: 1


- id: exp04_bdse1
  desc: "BDSE agent"
  code:
  - boot_agents_bdse.BDSEAgent
  - change_fraction: 0.5
    explorer: expsw1
    rcond: 0.0001
    servo:
      linpoint: goal
      strategy: S1n
      gain: 0.1

# BGDS and variations

- id: exp06_bgds1
  desc: "BGDS agent"
  code:
  - boot_agents_bgds.BGDSAgent
  - {}


- id: exp07_bgdsr1
  desc: "BGDS agent robust"
  code:
      - boot_agents_bgds.BGDSAgent1DRobust
      - explorer: expsw1
        importance:
        - boot_agents.Importance
        - max_y_dot: 0.1
          max_gy: 0.1
          min_y: 0
          max_y: 1


- id: exp08_bdser1
  desc: "BDSE agent robust"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator:
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance:
    - boot_agents.Importance
    - max_y_dot: 0.1
      max_gy: 0.1
      min_y: 0
      max_y: 1
    servo:
    - boot_agents_bdse.BDSEServo 
    - strategy: S1
      gain: 0.1
      linpoint: current


- id: "exp09_bdser_${num}"
  desc: "BDSE agent robust"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator:
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance: &importance
    - boot_agents.Importance
    - max_y_dot: 0.1
      max_gy: 0.1
      min_y: 0
      max_y: 1

- id: exp10_bdser1
  desc: "BDSE agent robust"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator:
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance: *importance
    servo:
    - boot_agents_bdse.BDSEServo 
    - strategy: S1
      gain: 0.1
      linpoint: current

- id: exp13_bdser1
  desc: "BDSE agent robust"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator:
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance: *importance

- id: exp14_bdser_s1
  desc: "BDSE agent robust, servo original"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator:
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance: *importance
    servo:
    - boot_agents_bdse.BDSEServo 
    - strategy: S1
      gain: 0.1
      linpoint: current

- id: exp14_bdser_s2
  desc: "BDSE agent robust, servo simple"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator:
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance: *importance
    servo:
    - boot_agents_bdse.BDSEServoSimple
    - gain: 0.1

- id: exp14_bdser_s3
  desc: "BDSE agent robust, servo long term"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator:
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance: *importance
    servo:
    - boot_agents_bdse.BDSEServoLongTerm
    - grid:
        mode: uniform
        grid_max: 10.0
        grid_n: 20


- id: "exp18_bdser_s1"
  desc: "BDSE agent robust, servo original"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator:
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance: *importance
    servo:
    - boot_agents_bdse.BDSEServo 
    - strategy: S1
      gain: 0.5
      linpoint: current
 
##################### exp 30
# estimator:
#  er1  BDSEEstimatorRobust robust, rcond=0.0001
#  er2  antysim T
#  er3  antysim T + M
#  er4  antysim T + M + use_P_scaling
# importance: 
#  i0 no filtering at all 
#  i1 does not penalize gradients
#  i2 penalizes differences in gradients
# servo:
#  ss   BDSEServoSimple   gain 0.1
#  sr   BDSEServoRobust   gain 0.1
#  srl   BDSEServoRobustL1 gain 0.1

- id: "bdse_e0_ss"
  desc: "BDSE agent, servo simple, no r-cond"
  code:
  - boot_agents_bdse.BDSEAgent
  - explorer: expsw1
    estimator: 
    - bdse.BDSEEstimator
    - rcond: 0.00000001
    servo: 
    - boot_agents_bdse.BDSEServoSimple
    - gain: 0.1

- id: "bdse_e1_ss"
  desc: "BDSE agent, servo simple"
  code:
  - boot_agents_bdse.BDSEAgent
  - explorer: expsw1
    estimator: 
    - bdse.BDSEEstimator
    - rcond: 0.0001
    servo: 
    - boot_agents_bdse.BDSEServoSimple
    - gain: 0.1

- id: "bdse_e1_slt"
  desc: "BDSE agent, servo long term"
  code:
  - boot_agents_bdse.BDSEAgent
  - explorer: expsw1
    estimator: 
    - bdse.BDSEEstimator
    - rcond: 0.0001
    servo:
    - boot_agents_bdse.BDSEServoLongTerm
    - grid:
        mode: uniform
        grid_max: 10.0
        grid_n: 20


- id: "bdser_er1_i2_ss"
  desc: "BDSE agent robust, servo simple"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: &er1
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance: &i2
    - boot_agents.Importance
    - max_y_dot: 0.1
      max_gy: 0.1
      min_y: 0
      max_y: 1
    servo: &ss
    - boot_agents_bdse.BDSEServoSimple
    - gain: 0.1
 

- id: bdser_e1_i2_slt
  desc: "BDSE agent robust, servo long term"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator:
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance: *i2
    servo:
    - boot_agents_bdse.BDSEServoLongTerm
    - grid:
        mode: uniform
        grid_max: 10.0
        grid_n: 20
 
- id: bdser_e1_i2_ss
  desc: "BDSE agent robust, servo long term"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator:
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
    importance: *i2
    servo: *ss

- id: "bdser_er1_i2_sr"
  desc: "BDSE agent robust, servo robust"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er1
    importance: *i2
    servo: &sr
    - boot_agents_bdse.BDSEServoRobust # XXX
    - gain: 0.1

- id: "bdser_er1_i2_srl"
  desc: "BDSE agent robust, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er1
    importance: *i2
    servo: &srl
    - boot_agents_bdse.BDSEServoRobustL1 # XXX
    - gain: 0.1


- id: "bdser_er1_i1_ss"
  desc: "BDSE agent robust, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er1
    importance: &i1
    - boot_agents.Importance
    - max_y_dot: 0.1
      max_gy: 1000 # this does not penalizes gradients
      min_y: 0
      max_y: 1
    servo: *ss
 
- id: "bdser_er1_i1_sr"
  desc: "BDSE agent robust, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er1
    importance: *i1
    servo: *sr

- id: "bdser_er1_i1_srl"
  desc: "BDSE agent robust, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er1
    importance: *i1
    servo: *srl
 

- id: "bdser_er2_i1_sr"
  desc: "BDSE agent robust, antisym, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: &er2
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
      antisym_T: true    
      antisym_M: false
    importance: *i1
    servo: *sr

- id: "bdser_er2_i1_srl"
  desc: "BDSE agent robust, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er2
    importance: *i1
    servo: *srl

- id: "bdser_er2_i2_srl"
  desc: "BDSE agent robust, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er2
    importance: *i2
    servo: *srl


- id: "bdser_er2_i2_sr"
  desc: "BDSE agent robust, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er2
    importance: *i2
    servo: *sr

- id: "bdser_er3_i1_sr"
  desc: "BDSE agent robust, antisym T and M, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: &er3 
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
      antisym_T: true  
      antisym_M: true      
    importance: *i1
    servo: *sr

- id: "bdser_er3_i1_srl"
  desc: "BDSE agent robust, antisym T and M, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er3
    importance: *i1
    servo: *srl

- id: "bdser_er3_i2_srl"
  desc: "BDSE agent robust, antisym T and M, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er3
    importance: *i2
    servo: *srl

- id: "bdser_er3_i2_sr"
  desc: "BDSE agent robust, antisym T and M, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er3
    importance: *i2
    servo: *sr

- id: "bdser_er3_i2_ss"
  desc: "BDSE agent robust, antisym T and M, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er3
    importance: *i2
    servo: *ss


- id: "bdser_er4_i2_ss"
  desc: "BDSE agent robust, antisym T and M, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: &er4 
    - bdse.BDSEEstimatorRobust
    - rcond: 0.0001
      antisym_T: true  
      antisym_M: true  
      use_P_scaling: true
    importance: *i2
    servo: *ss

- id: "bdser_er4_i2_sr"
  desc: "BDSE agent robust, antisym T and M, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er4 
    importance: *i2
    servo: *sr

- id: "bdser_er4_i2_srl"
  desc: "BDSE agent robust, antisym T and M, servo robust L1"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: *er4 
    importance: *i2
    servo: *srl


- id: "bdser_er4_i2_sr_f${frac}"
  desc: "BDSE agent robust, servo robust L1, using ${frac} percent of data"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: 
      - bdse.BDSEEstimatorSubsample
      - estimator: *er4
        fraction: "0.${frac}"
    importance: *i2
    servo: *sr

- id: "bdser_er4_i2_srl_f${frac}"
  desc: "BDSE agent robust, servo robust L1, using ${frac} percent of data"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: 
      - bdse.BDSEEstimatorSubsample
      - estimator: *er4
        fraction: "0.${frac}"
    importance: *i2
    servo: *srl


- id: "bdser_er1_i1_srl_f${frac}"
  desc: "BDSE agent robust, servo robust L1, using ${frac} percent of data"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: 
      - bdse.BDSEEstimatorSubsample
      - estimator: *er1
        fraction: "0.${frac}"
    importance: *i1
    servo: *srl

- id: "bdser_er1_i1_ss_f${frac}"
  desc: "BDSE agent robust, servo robust L1, using ${frac} percent of data"
  code:
  - boot_agents_bdse.BDSEAgentRobust
  - explorer: expsw1
    estimator: 
      - bdse.BDSEEstimatorSubsample
      - estimator: *er1
        fraction: "0.${frac}"
    importance: *i1
    servo: *ss


- id: "bdse_e1_ss_f${frac}"
  desc: "BDSE agent  using ${frac} percent of data"
  code:
  - boot_agents_bdse.BDSEAgent
  - explorer: expsw1
    estimator: 
      - bdse.BDSEEstimatorSubsample
      - fraction: "0.${frac}"
        estimator: 
        - bdse.BDSEEstimator
        - rcond: 0.0001
    servo: 
    - boot_agents_bdse.BDSEServoSimple
    - gain: 0.1




# - id: "exp30_bdser_sn"
#   desc: "BDSE agent robust, new"
#   code:
#   - boot_agents_bdse.BDSEAgentRobust
#   - explorer: expsw1
#     estimator: *estimator0
#     importance: *importance
#     servo:
#     - boot_agents_bdse.BDSEServoRobust # XXX
#     - gain: 0.1

# - id: "exp30_bdser_nograd"
#   desc: "BDSE agent (not robust)"
#   code:
#   - boot_agents_bdse.BDSEAgentRobust
#   - explorer: expsw1
#     estimator: *estimator0
#     importance:
#     - boot_agents.Importance
#     - max_y_dot: 0.1
#       max_gy: 1000 # this does not penalizes gradients
#       min_y: 0
#       max_y: 1
#     servo:
#     - boot_agents_bdse.BDSEServoRobust # XXX
#     - gain: 0.1


# - id: "exp30_bdser_sn1"
#   desc: "BDSE agent robust, new, L1"
#   code:
#   - boot_agents_bdse.BDSEAgentRobust
#   - explorer: expsw1
#     estimator: *estimator0
#     importance: *importance
#     servo:
#     - boot_agents_bdse.BDSEServoRobustL1 # XXX
#     - gain: 0.1
#     