
- id: "unicornA_${adapter}"
  desc: ""
  code:
  - rosstream2boot.library.ROSRobot.from_yaml
  - adapter: "unicornA_${adapter}"

- id: 'pc${delta}-${robot}'
  desc: "Sampling ${robot} with delta = ${delta}"
  code:
  - bootstrapping_olympics.library.robots.EquivRobotCausal.from_yaml
  - nuisance: 
    - bootstrapping_olympics.library.nuisances_causal.PureCommandsNuisance
    - delta: "${delta}"
      n: 10 # XXX how is this fixed?
    robot: "${robot}"


- id: unicornA_tw1_cf_320_rgb
  desc: "twist, front camera, 320 rgb"

#   code:
#   - bootstrapping_olympics.library.robots.EquivRobot
#   - robot: 
#     - rosstream2boot.library.ROSRobot.from_yaml
#     - adapter: 
#       - rosstream2boot.library.ROSRobotAdapter.from_yaml
#       - obs_adapter: unicornA_cf_320_rgb
#         cmd_adapter: twist_1_1
#         sync:
#           policy: obs-first-topic
#     cmd_nuisance: []
#     obs_nuisance: []

- id: unicornA_tw1_cr_320_rgb
  desc: "twist, right eye camera, 320 rgb"

#   code:
#   - bootstrapping_olympics.library.robots.EquivRobot
#   - robot: 
#     - rosstream2boot.library.ROSRobot.from_yaml
#     - adapter: 
#       - rosstream2boot.library.ROSRobotAdapter.from_yaml
#       - obs_adapter: unicornA_cr_320_rgb
#         cmd_adapter: twist_1_1
#         sync:
#           policy: obs-first-topic
#     cmd_nuisance: []
#     obs_nuisance: []

- id: unicornA_tw1_hlhr_sane_s4
  desc: ""


- id: unicornA_tw1_hlhr_s4
  desc: "twist, hokuyos not censored, sampled 4x"
  code:
  - bootstrapping_olympics.library.robots.EquivRobot
  - robot: unicornA_tw1_hlhr
    obs_nuisance: 
    - subsample4
    cmd_nuisance: []


- id: unicornA_tw1_hl_s4
  desc: "twist, left hokuyo, sampled 4x"
  code:
  - bootstrapping_olympics.library.robots.EquivRobot
  - robot: unicornA_tw1_hl
    obs_nuisance: 
    - subsample4
    cmd_nuisance: []

- id: unicornA_tw1_hl_sane_s4
  desc: "twist, left hokuyo, sane, sampled 4x"
  code:
  - bootstrapping_olympics.library.robots.EquivRobot
  - robot: unicornA_tw1_hl
    obs_nuisance: 
    - unicornA_hl_sane_s4
    cmd_nuisance: []


- id: unicornA_tw1_hlhr_sanes4_pc128
  desc: "twist, hokuyos censored, sampled 4x"
  code:
  - bootstrapping_olympics.library.robots.EquivRobot
  - robot: unicornA_tw1_hlhr_sane_s4
    obs_nuisance: 
    - - bootstrapping_olympics.library.nuisances.PopCode
      - resolution: 128
    cmd_nuisance: []

- id: pc3-unicornA_tw1_cf_320_rgb
- id: pc3-unicornA_tw1_cr_320_rgb
- id: pc3-unicornA_tw1_hlhr_sanes4_pc128

